# Entornos virtuales
.venv/

# Cache de Python
__pycache__/
**/__pycache__/
*.py[cod]

# Logs
*.log

# Variables de entorno
.env

# Archivos privados de entrada
ARCHIVOS SUMMARY E INSTANCES/

# Plantillas privadas
PLANTILLAS/
INFORME COMPARATIVO/
